@tailwind base;
@tailwind components;
@tailwind utilities;

.caption {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  color: #6c757d;
}

input {
  padding: 1px;
  padding-left: 2px;
  border-width: 1px;
  border-color: black;
}
